## Integer

In [9]:
12345

12345

In [10]:
-123415

-123415

In [13]:
print(0)

0

## Float

In [14]:
2.3

2.3

In [15]:
print(-2.3)

-2.3

In [18]:
print(0.4)
print(.4)
print(2.3e6)
print(5e-4)

0.4
0.4
2300000.0
0.0005

## String

Di bawah adalah beberapa contoh cara men-define string

In [25]:
print("Hello World!")
print("1234")
print('Hacktiv8')
print('This string contains a quote (")')
print("This string contains a single quote (')")

Hello World!
1234
Hacktiv8
This string contains a quote (")
This string contains a single quote (')

## Boolean

In [30]:
print(True)
print(False)

True
False

In [28]:
print(type(True))

<class 'bool'>

## Variable Assignment

In [31]:
x = 300

In [32]:
print(x)

300

In [36]:
x = 300 + 50

In [37]:
print(x)

350

In [42]:
a = b = c = 500

In [43]:
print(a)
print(b)
print(c)

500
500
500

In [48]:
a = 23.4
b = True
c = "ABCDEFG"
d = 5

In [49]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))

<class 'float'>
<class 'bool'>
<class 'str'>
<class 'int'>

In [50]:
a = "STRING1"

In [52]:
print(a)
print(type(a))

STRING1
<class 'str'>

In [54]:
a

'STRING1'

In [57]:
A = "dfga"

In [59]:
print(a)
print(A)

STRING1
dfga

In [60]:
umur = 43
nama_depan = "yohan"
has_laptops = True

namaDepan = 'yoohan'
hasLaptops = False

In [64]:
naga10 = 123

In [65]:
naga10

123

## Operators

In [66]:
5 + 6

11

In [67]:
4 - 7

-3

In [68]:
3 * 5

15

In [69]:
7/10

0.7

In [71]:
2 ** 5

32

In [73]:
15 % 7

1

In [80]:
a = 5
b = 6
print(a+b-4)
print(a*b)
print(a/b)

7
30
0.8333333333333334

## Comparison

In [83]:
a = 10
b = 20

print(a == b)
print(a != b)
print(a <= b)
print(a >= b)
print(a > b)
print(a < b)

False
True
True
False
False
True

In [86]:
a = 30
b = 30

print(a == b)
print(a >= b) # True
print(a > b) # False
print(a <= b)
print(a < b)

True
True
False
True
False

In [90]:
b > 25

True

## String Manipulation

In [91]:
a = 'abc'
b = 'def'
c = 'hij'

In [95]:
print(a + b)
print(a + " " + b)

abcdef
abc def

In [94]:
"abc def"

'abc def'

In [98]:
x = 'abc'

x * 4

'abcabcabcabc'

In [99]:
s  = 'foo'

s in "That is good for us"

False

In [100]:
s in "That is food for us"

True

In [104]:
"one" > "two"

False

In [114]:
"aaaaa" < "aaaa"

False

In [115]:
'foo' == "That is food for us"

False

In [116]:
'foo' in "That is food for us"

True

In [124]:
s = 'hackTIV8 abds'

print(s.capitalize())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.upper())

Hacktiv8 abds
hacktiv8 abds
HACKtiv8 ABDS
Hacktiv8 Abds
HACKTIV8 ABDS

# List

In [129]:
list1 = [1,2,3,4,5]
list2 = ["abc", "def", "hij"]
list3 = ["abc", 3.4, 1, True]

In [130]:
print(list1)
print(list2)
print(list3)

[1, 2, 3, 4, 5]
['abc', 'def', 'hij']
['abc', 3.4, 1, True]

In [139]:
list2[-1] == list2[2]

True

In [141]:
list2[-3]

'abc'

In [146]:
s = s.title()

In [147]:
s

'Hacktiv8 Abds'

In [150]:
s[0]

'H'

In [152]:
[4,3] * 3

[4, 3, 4, 3, 4, 3]

In [153]:
list2 = ["abc", "def", "hij", "klm", "nop"]

In [155]:
list2[1:4]

['def', 'hij', 'klm']

In [157]:
s[1:7]

'acktiv'

In [195]:
list1 = [1,2,3,4,100]
list2 = ["abc", "zef", "hij"]
list3 = ["abc", 3.4, 1, True]

In [196]:
list1 + list2

[1, 2, 3, 4, 100, 'abc', 'zef', 'hij']

In [162]:
print(len(list1))
print(len(list2))

5
3

In [164]:
print(s)
print(len(s))

Hacktiv8 Abds
13

In [173]:
print(max(list1))
print(max(list2))
# print(max(list3))

100
zef

In [174]:
print(min(list1))
print(min(list2))

1
abc

In [175]:
list1

[1, 2, 3, 4, 100]

In [176]:
list1[2] = 45

In [179]:
list1[-2] = 123

In [180]:
list1

[1, 2, 45, 123, 100]

In [182]:
del list1[3]

In [183]:
list1

[1, 2, 45, 100]

In [186]:
list1[3]

100

In [188]:
list2 = ["abc", "def", "hij", "klm", "nop"]

In [191]:
list2[1:4] = ['a', 'b', 'c']

In [192]:
list2

['abc', 'a', 'b', 'c', 'nop']

In [193]:
list2[1:4] = ['a', 'b']

In [194]:
list2

['abc', 'a', 'b', 'nop']

## Tuples

In [200]:
tuple1 = (1,2,3,4,100)
tuple2 = ("abc", "def", "hij", "klm", "nop")

In [203]:
tuple1[-1]

100

In [204]:
(a,b,c,d,e) = tuple1

In [205]:
print(a)
print(b)
print(c)
print(d)
print(e)

1
2
3
4
100

In [207]:
titik1 = (3,4)

## Dictionary

In [208]:
list1 = [1,2,3,4,100]
list2 = ["abc", "def", "hij", "klm", "nop"]

In [209]:
list1[2]

3

In [210]:
dictionary1 = {
    'pertama': 1,
    'kedua': 2,
    'ketiga': 3,
    'keempat': 4
}

In [211]:
dictionary1['ketiga']

3

In [212]:
dictionary2 = {
    'London': 'Arsenal FC',
    'Liverpool': 'Liverpool FC',
    'Manchaster': 'Manchaster City'
}

In [214]:
dictionary2['London'] = 'Spurs'

In [216]:
del dictionary2['London']

In [218]:
dictionary2['London'] = 'Arsenal FC'

In [219]:
dictionary2[]

{'Liverpool': 'Liverpool FC',
 'Manchaster': 'Manchaster City',
 'London': 'Arsenal FC'}

In [220]:
data_diri = {}

In [222]:
print(data_diri)
print(type(data_diri))

{}
<class 'dict'>

In [223]:
data_diri['nama_depan'] = "Agus"
data_diri['nama_belakang'] = "Gunawan"
data_diri['umur'] = 25
data_diri['nama_anak'] = ['a','b','c']

In [224]:
print(data_diri)

{'nama_depan': 'Agus', 'nama_belakang': 'Gunawan', 'umur': 25, 'nama_anak': ['a', 'b', 'c']}

In [225]:
data_diri['peliharaan'] = {'anjing':'bruno', 'kucing':'meong'}

In [227]:
data_diri['peliharaan']['anjing']

'bruno'

In [231]:
dictionary1

{'pertama': 1, 'kedua': 2, 'ketiga': 3, 'keempat': 4}

In [229]:
dictionary1.items()

dict_items([('pertama', 1), ('kedua', 2), ('ketiga', 3), ('keempat', 4)])

In [230]:
dictionary1.keys()

dict_keys(['pertama', 'kedua', 'ketiga', 'keempat'])

In [232]:
dictionary1.values()

dict_values([1, 2, 3, 4])

In [234]:
person1_age = 42
person2_age = 16
person3_age = 71

(person1_age >= 18 and person1_age <= 65) or \
    (person2_age >=18 and person2_age <=65)

True

In [235]:
(
    (person1_age >= 18 and person1_age <= 65) or 
    (person2_age >=18 and person2_age <=65)
)

True